
table {
  border:1px solid black;
  width: 100%;
  position: relative;
  border-collapse: collapse; 
}
tbody{
/* display:block; */
  width: 100%;
  /* overflow: auto;  */
  height: 305px;}
  thead {
    background-color: #24344B;
    color:#fff;
  }
 
th, td {
  
  padding: 5px;
  text-align: left;
  width: 200px;
}

th {
  background-color: #24344B;
  color: #fff;
  position: sticky;
  top: 0; 
  
}
.topspace{
  margin-top: 30px;
}
.heading{
  text-align: center;
  padding: 5px;
}
.form-control{
  border-color: cadetblue;
}
.searchBox{
  margin-left: 15px;
  margin-bottom: 20px;
}
